In [1]:
#Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [2]:
# Exercise 3 - Create a markdown cell for an introduction

**In this notebook, Data Science Tools and Ecosystem are summarized.**

In [3]:
#Exercise 4 - Create a markdown cell to list data science languages

**Some of the popular languages that Data Scientists use are:**

#LIST OF LANGUAGES USED IN DATASCIENCE
1. PYTHON
2. R
3. JAVA
4. C++
5. Javascript
6. SQL
7. Go
8. Swift
9. MATLAB
10. SAS

In [4]:
#Exercise 5 - Create a markdown cell to list data science libraries

**Some of the commonly used libraries used by Data Scientists include:**

1. NumPy
2. pandas
3. Matplotlib
4. skikit-learn
5. TensorFlow
6. Keras
7. PyTorch
8. Apache Spark
9. BeautifulSoup
10. SkiPy
11. Plotly
12. Seaborn

In [5]:
#Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
| :----------------- |
| Python            |
| R                 |
| Jupyter           |
| Tableau           |
| SQL               |
| TensorFlow        |
| PyTorch           |
| scikit-learn      |
| pandas            |
| NumPy             |
| Matplotlib        |
| Seaborn           |
| Plotly            |

In [6]:
#Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#Exercise 8 - Create a code cell to multiply and add numbers

In [8]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [9]:
#Exercise 9 - Create a code cell to convert minutes to hours

In [10]:
# Total minutes
total_minutes = 200

# Get hours with floor division
hours = total_minutes // 60

# Get additional minutes with modulus
minutes = total_minutes % 60

print(hours)

3

In [11]:
#Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**


**List popular languages for Data Science:**

* Python
* Java
* C++
* R
* SQL
* Julia
* Scala
* MATLAB

In [12]:
#Exercise 11 - Create a markdown cell to indicate the Author's name

### Author
##### TamilPriya Balaji